:root {
    --bg-color: #4C4E67;
    --orange-color: #FF5900;
    --dark-black: #1E1E1E;
    --text-white: #FFFFFF;
    
    --font-heading: 'Alexandria', sans-serif;
    --font-body: 'Montserrat', sans-serif;
}