* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-white);
    font-family: var(--font-body);
    overflow-x: hidden;
    padding-top: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}

/* --- Hero Section --- */
.hero-section {
    position: relative;
    min-height: 85vh;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

/* Порфтоліо */
.hero-title {
    font-size: 220px;
    line-height: 0.8;
    font-weight: 900;
    color: var(--orange-color);
    text-transform: uppercase;
    letter-spacing: -4px;
}



@media (max-width: 768px) {
    body {
        padding-top: 140px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }


    .hero-title {
        font-size: 90px;
        letter-spacing: -2px;
    }

    .hero-line {
        display: none;
    }

    .about-grid,
    .skills-grid,
    .fruit-section .project-grid,
    .bread-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .title-huge {
        font-size: 50px;
    }

    .project-decor-line {
        display: none;
    }

    .massive-title {
        font-size: 55px;
    }
}

/* --- Footer --- */
.site-footer {
    background-color: var(--dark-black);
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    font-size: 12px;
    opacity: 0.6;
}